.backoffice-objectbar {
    background: #F8F8F8;
    border-right: 1px solid #E7E7E7;
    position: fixed;
    left: 0px;
    top: 50px;
    bottom: 0px;
    overflow: auto;
}

.backoffice-content {
    margin-left: 25%;
}

.always-visible {
    display: block;
}

.page {
    padding: 16px;
}

.panel-body {
    margin-left: 10px;
}

.panel-body h2 {
    /*margin-top: 0;
    margin-bottom: 0;*/
    font-size: 18px;
}

.panel-body h2 small {
    font-size: 12px;
    color: #ccc;
}

.panel-body header span {
    color: #AAA;
}

.panel-stuff {
    overflow: hidden;
    position: relative;
}

.panel-stuff header {
    margin-bottom: 15px;
}

.panel-stuff .panel-image {
    background: #DDD;
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.panel-stuff .panel-image img {
    width: 120px;
    height: 100%;
}

.panel-stuff .panel-body {
    padding-left: 130px;
}
