.backoffice-objectbar {
    background: #F8F8F8;
    border-right: 1px solid #E7E7E7;
    position: fixed;
    left: 0px;
    top: 50px;
    bottom: 0px;
    overflow: auto;
}

.backoffice-content {
    margin-left: 25%;
}
