
body {
    font-family: 'Open Sans', $font;
    line-height: $baseLine;
    font-size: $baseFont;
    /*background: #f0f0f0;*/
    background: $white;
}

/* TITLES
==========================*/
h1, h2, h3 {
    font-weight: 200;
    font-family: 'Open Sans', $font;
}

/* ERRORS
==========================*/
.errorlist {
    color: $errorColor;
    font-weight: 700;
    list-style: none;
    margin-left: 0;
    padding-top: 5px;

    li {
        padding-left: 0;
        margin-left: 0;
    }
}

/* links
==========================*/
.active {
    a {
        color: $white;
    }
}

/* ELEMENTS
==========================*/
.panel {
    @include border-radius(0);
}

ul {
    margin-left: 0;
}

.introduction {
    font-size: 1.141em;
}

.page {
    header {
        &.main-header {
            margin-top: 52px;
            background: $highlightColor;
            padding: 3em 0;
            color: $white;

            h1 {
                margin: 0;
            }

            a {
                color: $grayLighter;
                text-decoration: underline;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.content {
    margin-top: 10px;
}

.sidebar-left {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.main-content {
    background: $white;

    &.with-sidebar {
        border: 1px solid $grayLighter;
    }
}

aside.sidebar {
    /*margin-top: 30px;
    border: 1px solid $grayLighter;*/

    padding: 0;

    header {
        font-size: 1.5em;
        font-weight: 200;
        padding: 20px;
        background: $grayLighter;

        small {
            display: block;
            font-size: 0.65em;
            margin-top: 5px;
            color: $grayLight;
        }
    }

/*    nav {
        margin-top: 10px;
    }*/
}
