.backoffice-objectbar {
    background: #F8F8F8;
    border-right: 1px solid #E7E7E7;
    position: fixed;
    left: 0px;
    top: 50px;
    bottom: 0px;
    overflow: auto;
}

.backoffice-content {
    margin-left: 25%;
}

.always-visible {
    display: block;
}

.panel-body h2 {
    font-size: 18px;
}

.panel-body h2 small {
    font-size: 12px;
    color: #ccc;
}

.panel-body header span {
    color: #AAA;
}

.modal-dialog-extra-padding {
    padding-top: 60px;
}

.extra_info {
    margin-top: 20px; 
}

.row {
    margin-bottom: 1.231em;    
}
